.carousel {
  height: 80vh;

  &__item {
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    border: 1px solid red;

    &--2 {
      background-image: linear-gradient(
          to right,
          rgba($color-primary-dark, 0.7),
          rgba($color-primary-dark, 0.6)
        ),
        url('../../img/Carousel/product.jpg');
      background-position: bottom;
      background-repeat: none;
      background-size: cover;
    }
    &--3 {
      // background-color: rgba($color-primary-dark, 0.7);
    }
  }

  &__text {
    &--2 {
      font-size: 5rem;
      padding: 10rem;
      font-weight: 400;
      text-align: center;
      width: 80%;
      margin: 0 auto;
      text-transform: uppercase;
      letter-spacing: 0.4rem;
      color: $color-secondary-light;
    }

    &--3 {
      padding-left: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
  }

  &__figure {
    &--1 {
      width: 30vw;
      height: auto;
      position: relative;
    }

    &--3 {
      width: 60%;
    }
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
